@font-face {
  font-family: "young-sarif";
  src: url("../fonts/young-serif/YoungSerif-Regular.ttf");
}
@font-face {
  font-family: "outfit-regular";
  src: url("../fonts/outfit/static/Outfit-Regular.ttf");
}

h1 {
  font-family: "young-sarif";
}
html {
  font-family: "outfit-regular";
}
