@import url("./css/variebles.css");
@import url("./css/reset.css");

article {
  height: 100%;
  width: 100%;
  background-color: var(--color-red-600);
  padding: 2rem;
}

.wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--color-yellow-green-100);
  padding: 1rem;
}

h1 {
  font-size: 1.5rem;
  right: 50%;
}

main {
  background-color: var(--color-yellow-green-100);
  border-radius: 1rem;
}
li {
  padding-block: 0.5rem;
}
