@import url("./css/variebles.css");
@import url("./css/reset.css");
@import url("./css/fonts.css");

article {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--color-red-600);
  padding: 2rem;
}

.outer-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  background-color: var(--color-yellow-green-100);
  padding: 1rem;
}
.inner-wrapper {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  background-color: var(--color-green-oil-300);
  padding: 1rem;
  border-radius: 1rem;
}

h1 {
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
}

main {
  /* background-color: var(--color-yellow-green-100); */
  /* border-radius: 1rem; */
}
li {
  padding-block: 0.5rem;
}
